{{!-- <div class='bg' id="fancy-hero"> 

  <div class='col-1' id='fancy-hero-left'>
      <a class='link-dark' href='/products'>Products</a>
  </div>

  <div class='col-2' id='fancy-hero-right'>
    <a class='link-style' href='/articles'>Articles</a>
  </div>

</div>
     --}}

<div class='hero'>
  <div></div>
  <a href="/products"><span id='fancy-hero-left'><i class="fas fa-glasses fa-3x"></i><br>Products</span></a>
  <a href="/articles"><span id='fancy-hero-right'><i class="fas fa-book fa-3x"></i><br>Articles</span></a>

</div>

