<div class='hero'>
  <div></div>
  <a href="/products"><span id='fancy-hero-left'><i class="fas fa-glasses fa-3x"></i><br>Products</span></a>
  <a href="/articles"><span id='fancy-hero-right'><i class="fas fa-book fa-3x"></i><br>Articles</span></a>

</div>

